USE [SPRINGBATCH]
GO
/****** Object:  Table [dbo].[BATCH_JOB_EXECUTION]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_EXECUTION](
	[JOB_EXECUTION_ID] [bigint] NOT NULL,
	[VERSION] [bigint] NULL,
	[JOB_INSTANCE_ID] [bigint] NOT NULL,
	[CREATE_TIME] [datetime] NOT NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[STATUS] [varchar](10) NULL,
	[EXIT_CODE] [varchar](2500) NULL,
	[EXIT_MESSAGE] [varchar](2500) NULL,
	[LAST_UPDATED] [datetime] NULL,
	[JOB_CONFIGURATION_LOCATION] [varchar](2500) NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_JOB_EXECUTION_CONTEXT]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_EXECUTION_CONTEXT](
	[JOB_EXECUTION_ID] [bigint] NOT NULL,
	[SHORT_CONTEXT] [varchar](2500) NOT NULL,
	[SERIALIZED_CONTEXT] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_JOB_EXECUTION_PARAMS]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_EXECUTION_PARAMS](
	[JOB_EXECUTION_ID] [bigint] NOT NULL,
	[TYPE_CD] [varchar](6) NOT NULL,
	[KEY_NAME] [varchar](100) NOT NULL,
	[STRING_VAL] [varchar](250) NULL,
	[DATE_VAL] [datetime] NULL,
	[LONG_VAL] [bigint] NULL,
	[DOUBLE_VAL] [float] NULL,
	[IDENTIFYING] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_JOB_EXECUTION_SEQ]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_EXECUTION_SEQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_JOB_INSTANCE]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_INSTANCE](
	[JOB_INSTANCE_ID] [bigint] NOT NULL,
	[VERSION] [bigint] NULL,
	[JOB_NAME] [varchar](100) NOT NULL,
	[JOB_KEY] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_JOB_SEQ]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_JOB_SEQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_STEP_EXECUTION]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_STEP_EXECUTION](
	[STEP_EXECUTION_ID] [bigint] NOT NULL,
	[VERSION] [bigint] NOT NULL,
	[STEP_NAME] [varchar](100) NOT NULL,
	[JOB_EXECUTION_ID] [bigint] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NULL,
	[STATUS] [varchar](10) NULL,
	[COMMIT_COUNT] [bigint] NULL,
	[READ_COUNT] [bigint] NULL,
	[FILTER_COUNT] [bigint] NULL,
	[WRITE_COUNT] [bigint] NULL,
	[READ_SKIP_COUNT] [bigint] NULL,
	[WRITE_SKIP_COUNT] [bigint] NULL,
	[PROCESS_SKIP_COUNT] [bigint] NULL,
	[ROLLBACK_COUNT] [bigint] NULL,
	[EXIT_CODE] [varchar](2500) NULL,
	[EXIT_MESSAGE] [varchar](2500) NULL,
	[LAST_UPDATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[STEP_EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_STEP_EXECUTION_CONTEXT]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_STEP_EXECUTION_CONTEXT](
	[STEP_EXECUTION_ID] [bigint] NOT NULL,
	[SHORT_CONTEXT] [varchar](2500) NOT NULL,
	[SERIALIZED_CONTEXT] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[STEP_EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATCH_STEP_EXECUTION_SEQ]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_STEP_EXECUTION_SEQ](
	[ID] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_management]    Script Date: 9/28/2021 3:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_management](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departments] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[salary] [varchar](255) NULL,
	[time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BATCH_JOB_EXECUTION] ([JOB_EXECUTION_ID], [VERSION], [JOB_INSTANCE_ID], [CREATE_TIME], [START_TIME], [END_TIME], [STATUS], [EXIT_CODE], [EXIT_MESSAGE], [LAST_UPDATED], [JOB_CONFIGURATION_LOCATION]) VALUES (1, 2, 1, CAST(N'2021-09-28T14:37:52.183' AS DateTime), CAST(N'2021-09-28T14:37:52.267' AS DateTime), CAST(N'2021-09-28T14:37:52.577' AS DateTime), N'COMPLETED', N'COMPLETED', N'', CAST(N'2021-09-28T14:37:52.577' AS DateTime), NULL)
INSERT [dbo].[BATCH_JOB_EXECUTION] ([JOB_EXECUTION_ID], [VERSION], [JOB_INSTANCE_ID], [CREATE_TIME], [START_TIME], [END_TIME], [STATUS], [EXIT_CODE], [EXIT_MESSAGE], [LAST_UPDATED], [JOB_CONFIGURATION_LOCATION]) VALUES (2, 2, 2, CAST(N'2021-09-28T14:40:56.117' AS DateTime), CAST(N'2021-09-28T14:40:56.183' AS DateTime), CAST(N'2021-09-28T14:40:56.417' AS DateTime), N'COMPLETED', N'COMPLETED', N'', CAST(N'2021-09-28T14:40:56.417' AS DateTime), NULL)
GO
INSERT [dbo].[BATCH_JOB_EXECUTION_CONTEXT] ([JOB_EXECUTION_ID], [SHORT_CONTEXT], [SERIALIZED_CONTEXT]) VALUES (1, N'{"@class":"java.util.HashMap"}', NULL)
INSERT [dbo].[BATCH_JOB_EXECUTION_CONTEXT] ([JOB_EXECUTION_ID], [SHORT_CONTEXT], [SERIALIZED_CONTEXT]) VALUES (2, N'{"@class":"java.util.HashMap"}', NULL)
GO
INSERT [dbo].[BATCH_JOB_EXECUTION_PARAMS] ([JOB_EXECUTION_ID], [TYPE_CD], [KEY_NAME], [STRING_VAL], [DATE_VAL], [LONG_VAL], [DOUBLE_VAL], [IDENTIFYING]) VALUES (1, N'LONG', N'time', N'', CAST(N'1970-01-01T07:00:00.000' AS DateTime), 1632814672133, 0, N'Y')
INSERT [dbo].[BATCH_JOB_EXECUTION_PARAMS] ([JOB_EXECUTION_ID], [TYPE_CD], [KEY_NAME], [STRING_VAL], [DATE_VAL], [LONG_VAL], [DOUBLE_VAL], [IDENTIFYING]) VALUES (2, N'LONG', N'time', N'', CAST(N'1970-01-01T07:00:00.000' AS DateTime), 1632814856071, 0, N'Y')
GO
SET IDENTITY_INSERT [dbo].[BATCH_JOB_EXECUTION_SEQ] ON 

INSERT [dbo].[BATCH_JOB_EXECUTION_SEQ] ([ID]) VALUES (2)
SET IDENTITY_INSERT [dbo].[BATCH_JOB_EXECUTION_SEQ] OFF
GO
INSERT [dbo].[BATCH_JOB_INSTANCE] ([JOB_INSTANCE_ID], [VERSION], [JOB_NAME], [JOB_KEY]) VALUES (1, 0, N'ETL-Load', N'9b00bf5063f3e686798bffa9b8e0dd90')
INSERT [dbo].[BATCH_JOB_INSTANCE] ([JOB_INSTANCE_ID], [VERSION], [JOB_NAME], [JOB_KEY]) VALUES (2, 0, N'ETL-Load', N'6352366d3e19017c621ecceebae81b37')
GO
SET IDENTITY_INSERT [dbo].[BATCH_JOB_SEQ] ON 

INSERT [dbo].[BATCH_JOB_SEQ] ([ID]) VALUES (2)
SET IDENTITY_INSERT [dbo].[BATCH_JOB_SEQ] OFF
GO
INSERT [dbo].[BATCH_STEP_EXECUTION] ([STEP_EXECUTION_ID], [VERSION], [STEP_NAME], [JOB_EXECUTION_ID], [START_TIME], [END_TIME], [STATUS], [COMMIT_COUNT], [READ_COUNT], [FILTER_COUNT], [WRITE_COUNT], [READ_SKIP_COUNT], [WRITE_SKIP_COUNT], [PROCESS_SKIP_COUNT], [ROLLBACK_COUNT], [EXIT_CODE], [EXIT_MESSAGE], [LAST_UPDATED]) VALUES (1, 3, N'ETL-file-load', 1, CAST(N'2021-09-28T14:37:52.337' AS DateTime), CAST(N'2021-09-28T14:37:52.560' AS DateTime), N'COMPLETED', 1, 5, 0, 5, 0, 0, 0, 0, N'COMPLETED', N'', CAST(N'2021-09-28T14:37:52.567' AS DateTime))
INSERT [dbo].[BATCH_STEP_EXECUTION] ([STEP_EXECUTION_ID], [VERSION], [STEP_NAME], [JOB_EXECUTION_ID], [START_TIME], [END_TIME], [STATUS], [COMMIT_COUNT], [READ_COUNT], [FILTER_COUNT], [WRITE_COUNT], [READ_SKIP_COUNT], [WRITE_SKIP_COUNT], [PROCESS_SKIP_COUNT], [ROLLBACK_COUNT], [EXIT_CODE], [EXIT_MESSAGE], [LAST_UPDATED]) VALUES (2, 3, N'ETL-file-load', 2, CAST(N'2021-09-28T14:40:56.220' AS DateTime), CAST(N'2021-09-28T14:40:56.407' AS DateTime), N'COMPLETED', 1, 6, 0, 6, 0, 0, 0, 0, N'COMPLETED', N'', CAST(N'2021-09-28T14:40:56.407' AS DateTime))
GO
INSERT [dbo].[BATCH_STEP_EXECUTION_CONTEXT] ([STEP_EXECUTION_ID], [SHORT_CONTEXT], [SERIALIZED_CONTEXT]) VALUES (1, N'{"@class":"java.util.HashMap","batch.taskletType":"org.springframework.batch.core.step.item.ChunkOrientedTasklet","CSV-Reader.read.count":6,"batch.stepType":"org.springframework.batch.core.step.tasklet.TaskletStep"}', NULL)
INSERT [dbo].[BATCH_STEP_EXECUTION_CONTEXT] ([STEP_EXECUTION_ID], [SHORT_CONTEXT], [SERIALIZED_CONTEXT]) VALUES (2, N'{"@class":"java.util.HashMap","batch.taskletType":"org.springframework.batch.core.step.item.ChunkOrientedTasklet","CSV-Reader.read.count":7,"batch.stepType":"org.springframework.batch.core.step.tasklet.TaskletStep"}', NULL)
GO
SET IDENTITY_INSERT [dbo].[BATCH_STEP_EXECUTION_SEQ] ON 

INSERT [dbo].[BATCH_STEP_EXECUTION_SEQ] ([ID]) VALUES (2)
SET IDENTITY_INSERT [dbo].[BATCH_STEP_EXECUTION_SEQ] OFF
GO
SET IDENTITY_INSERT [dbo].[user_management] ON 

INSERT [dbo].[user_management] ([id], [departments], [name], [salary], [time]) VALUES (1, N'Technology', N'User01', N'12000', CAST(N'2021-09-28T14:40:56.2870000' AS DateTime2))
INSERT [dbo].[user_management] ([id], [departments], [name], [salary], [time]) VALUES (2, N'Operations', N'User02', N'13000', CAST(N'2021-09-28T14:40:56.2880000' AS DateTime2))
INSERT [dbo].[user_management] ([id], [departments], [name], [salary], [time]) VALUES (3, N'Accounts', N'User03', N'10000', CAST(N'2021-09-28T14:40:56.2880000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[user_management] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [JOB_INST_UN]    Script Date: 9/28/2021 3:48:36 PM ******/
ALTER TABLE [dbo].[BATCH_JOB_INSTANCE] ADD  CONSTRAINT [JOB_INST_UN] UNIQUE NONCLUSTERED 
(
	[JOB_NAME] ASC,
	[JOB_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION] ADD  DEFAULT (NULL) FOR [START_TIME]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION] ADD  DEFAULT (NULL) FOR [END_TIME]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION_PARAMS] ADD  DEFAULT (NULL) FOR [DATE_VAL]
GO
ALTER TABLE [dbo].[BATCH_STEP_EXECUTION] ADD  DEFAULT (NULL) FOR [END_TIME]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION]  WITH CHECK ADD  CONSTRAINT [JOB_INST_EXEC_FK] FOREIGN KEY([JOB_INSTANCE_ID])
REFERENCES [dbo].[BATCH_JOB_INSTANCE] ([JOB_INSTANCE_ID])
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION] CHECK CONSTRAINT [JOB_INST_EXEC_FK]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION_CONTEXT]  WITH CHECK ADD  CONSTRAINT [JOB_EXEC_CTX_FK] FOREIGN KEY([JOB_EXECUTION_ID])
REFERENCES [dbo].[BATCH_JOB_EXECUTION] ([JOB_EXECUTION_ID])
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION_CONTEXT] CHECK CONSTRAINT [JOB_EXEC_CTX_FK]
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION_PARAMS]  WITH CHECK ADD  CONSTRAINT [JOB_EXEC_PARAMS_FK] FOREIGN KEY([JOB_EXECUTION_ID])
REFERENCES [dbo].[BATCH_JOB_EXECUTION] ([JOB_EXECUTION_ID])
GO
ALTER TABLE [dbo].[BATCH_JOB_EXECUTION_PARAMS] CHECK CONSTRAINT [JOB_EXEC_PARAMS_FK]
GO
ALTER TABLE [dbo].[BATCH_STEP_EXECUTION]  WITH CHECK ADD  CONSTRAINT [JOB_EXEC_STEP_FK] FOREIGN KEY([JOB_EXECUTION_ID])
REFERENCES [dbo].[BATCH_JOB_EXECUTION] ([JOB_EXECUTION_ID])
GO
ALTER TABLE [dbo].[BATCH_STEP_EXECUTION] CHECK CONSTRAINT [JOB_EXEC_STEP_FK]
GO
ALTER TABLE [dbo].[BATCH_STEP_EXECUTION_CONTEXT]  WITH CHECK ADD  CONSTRAINT [STEP_EXEC_CTX_FK] FOREIGN KEY([STEP_EXECUTION_ID])
REFERENCES [dbo].[BATCH_STEP_EXECUTION] ([STEP_EXECUTION_ID])
GO
ALTER TABLE [dbo].[BATCH_STEP_EXECUTION_CONTEXT] CHECK CONSTRAINT [STEP_EXEC_CTX_FK]
GO
